*{padding:0;margin:0}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap');
@import 'elements';
@import 'colors';

html {
  font-size: 14px;
}

body {
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: "Montserrat";
  background: rgb(161,196,254);
  background: linear-gradient(120deg, rgba(161,196,254,1) 0%, rgba(194,233,251,1) 100%);
  color: $font-color;
}

#root {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  .app {
    text-align: center;
    border-radius: 10px;
    background-color: white;
    padding: 50px;
    max-width: 800px;
    box-shadow: 1px 4px 3px 2px rgba(0,0,0, 0.15);
    h1 {
      font-size: 2.9rem;
      margin-bottom: 40px;
      color: $dark-font-color;
    }
    p {
      font-size: 18px;
      margin-bottom: 40px;
    }
    .list-stored {
      text-align: left;
      list-style: none;
      margin-bottom: 40px;
      border:1px solid $border-color;
      background-color: $primary-background-color;
      min-height: 40px;
      padding: 10px;
      li {
        user-select: none;
        font-size: 1.25rem;
        padding: 5px 8px;
        &.is--selected {
          background-color: $primary-color;
          color: white;
        }
      }
    }
    .controls {
      display: flex;
      justify-content: space-between;
      gap: 18px;
      :nth-child(3) {
        margin-left: auto;
      }
    }
  }
}

.reactModal__overlay {
  position: fixed;
  inset: 0;
  background-color: rgba(0,0,0,0.25);
  display: flex;
  justify-content: center;
  align-items: center;
  inset: 0;
}

.reactModal__content {
  background-color: white;
  padding: 30px;
  border-radius: 15px;
  max-width: 530px;
  background-color: white;

  .modal-layout {
    display: flex;
    flex-direction: column;
  }
  .controls {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    gap: 10px;
  }
}

.--is-hidden {
  opacity: 0;
}

.warning {
  color: red;
}




